# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
* List popular languages for Data Science
* Create a code cell to multiply and add numbers
* Create a markdown cell with a table of Data Science tools
* Create a markdown cell to list data science libraries
* Create a code cell to convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scipy

| Data Science Tools |
| ------------------ |
|Apache Spark|
| RStudio |
|TensorFlow |
| RapidMiner |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
hours=200/60
print(hours)

3.3333333333333335

## Author
Muhammad Ahmad